.parameterInput {
    padding: 10px;
    margin: 0;
    height: auto;
    width: 100%;
}

.dataTable {
    margin-bottom: 20px;
    width: 100%;
    background-color: transparent;
}

.hidden {
	visibility: hidden;
}

.headCell {
    background-color: transparent;
}


.tableRow {
    background-color: #ffffff7f;
}

.tableHead {
    background-color: #00000010;
}

.serviceListItem {
    font-weight: bold;
}

.invalid {
    background-color: rgba(255, 0, 0, 0.068);
}
