<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info" strict="true" name="local">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d %X{appName} %X{logToken} %-5p %c{5} - %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger level="info" name="org.apache" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger level="debug" name="dk.nykredit" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>